.page {
  font-family: "Press_Start_2P", sans-serif;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  max-width: 1000px;
  margin: 0 auto;

  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #ecebeb
}

.head {
  font-size: 25px;
  margin-bottom: 40px;
  text-align: center;
}

.desc {
  margin-bottom: 20px;
  text-align: center;
}